.send-form {
  @include flex(initial, initial, column, px-to-rem(16));

  @media screen and (min-width: $breakpoint-md) {
    align-items: center;
    flex-direction: row;
  }

  &-input-wrapper {
    @include flex(center, initial, row, px-to-rem(16));
    width: 100%;

    @media screen and (min-width: $breakpoint-md) {
      margin-right: 5%;
    }
  }

  &-field {
    background-color: $light-500;
    border: px-to-rem(3) solid $light-300;
    height: px-to-rem(46);
    padding: px-to-rem(4) px-to-rem(16);
    transition: 0.3s linear;
    width: 100%;

    &:hover {
      border: px-to-rem(3) solid $grey-300;
    }
  }

  &-label,
  &-link {
    @include fontSettings(px-to-rem(16), px-to-rem(20));
    @include flex(center, center);
    background-color: $primary-100;
    color: $light-50;
    cursor: pointer;
    height: px-to-rem(46);
    padding: px-to-rem(4) px-to-rem(12);
    transition: 0.3s linear;
    white-space: nowrap;

    @media screen and (min-width: $breakpoint-sm) {
      @include fontSettings(px-to-rem(20), px-to-rem(26));
      padding: px-to-rem(4) px-to-rem(20);
    }

    &:hover {
      background-color: $grey-200;
    }

    &:active {
      background-color: $primary-100;
    }
  }
}
