$light: #ffffff;
$light-50: rgb(255, 255, 255);
$light-100: #f0f0f0;
$light-200: rgb(255, 255, 255, 0.8);
$light-300: rgb(235, 235, 235);
$light-500: rgb(255, 255, 255, 0.6);
$grey-100: rgb(149, 148, 148);
$grey-200: rgb(177, 203, 217, 0.5);
$grey-300: rgb(235, 235, 235, 0.5);
$grey-400: rgb(94, 106, 119);
$grey-500: rgb(235, 235, 235, 0.3);
$grey-600: rgba(76, 80, 92, 0.902);
$grey-700: rgb(65, 69, 74);
$grey-750: rgb(76, 80, 92, 0.4);
$grey-800: rgb(76, 80, 92, 0.2);
$grey-900: rgb(43, 43, 43);
$dark-200: rgba(255, 255, 255, 0.5);
$dark-300: rgba(255, 255, 255, 0.3);
$dark-400: rgb(94, 106, 119, 0.3);
$dark-500: rgb(94, 106, 119, 0.5);
$dark-600: rgb(69, 72, 83, 0.078);
$dark-700: rgba(0, 0, 0, 0.4);
$dark-800: rgba(19, 19, 19, 0.6);
$dark-900: rgba(0, 0, 0, 0.6);
$primary-100: rgb(177, 203, 217);
$primary-200: rgb(177, 203, 217, 0.902);
$primary-300: rgb(100, 129, 144);
$accent: rgb(247, 143, 30);
